.map {
  height: 100vh;
  max-width: 100vw;
  width: auto;
  display: flex;
}

.titleBar {
  position: fixed;
  z-index: 9999;
  top: calc(var(--m-l) + var(--m-m));
  left: var(--m-l);
  margin: 0;
}

.title {
  display: inline-block;
  margin: 0;
}
