.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--m-xl);
}

.main h1 {
  margin: var(--m-xl) 0;
}

.footer {
  color: var(--c-bg-contrast-light);
  text-align: center;
  margin: calc(2 * var(--m-xl)) 0 var(--m-xl);
}

.footer a {
  text-decoration: none;
}

.toolbar {
  display: flex;
  align-items: flex-start;
  gap: var(--m-s);
}

.toolbarLink {
  margin-bottom: var(--m-l);
  text-decoration: none;
  border: solid 2px var(--c-bg-contrast-light);
  border-radius: var(--m-s);
  padding: var(--m-m);
  font-size: var(--fs-sm);
  user-select: none;
}

.toolbarLink:hover {
  background-color: var(--c-bg-contrast-light);
}

.toolbarLink:focus-visible {
  outline: solid 2px var(--c-bg-contrast-light);
}
