.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--m-xl);
}

.main h1 {
  margin: var(--m-xl) 0;
}

.footer {
  color: var(--c-bg-contrast-light);
  text-align: center;
  padding: calc(2 * var(--m-xl)) 0 var(--m-xl);
}

.footer a {
  text-decoration: none;
}
