.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(calc(100svw - 2 * var(--m-xl)), 320px), 1fr)
  );
  grid-auto-rows: 1fr;
  gap: var(--m-xl);
  max-width: 1400px;
}

.name {
  text-decoration: none;
}

.name h2 {
  margin: var(--m-s) 0 var(--m);
  font-size: var(--fs-m);
}

.date {
  text-decoration: none;
}

.item {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.itemLink {
  height: 100%;
}

.itemLink img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
