.image {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.pin {
  font-size: 18px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4), -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4), -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}

.link {
  text-decoration: none;
}

.popup *:focus-visible {
  outline: none;
}

.popup a:hover img {
  outline: solid 2px var(--c-bg-contrast-light);
}
