.nav {
  position: absolute;
  top: var(--m-m);
  left: var(--m-l);
  z-index: 300;
  color: var(--c-bg-contrast-light);
  padding: var(--m);
}

.nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  gap: var(--m-m);
  align-items: center;
}

.nav li {
  height: 100%;
}

.nav a {
  display: inline-block;
  padding: var(--m-s) var(--m-m);
  border-radius: var(--m-s);
  border: solid 2px var(--c-bg-contrast-light);
  color: var(--c-font);
  height: 100%;
}

.nav a:hover {
  background-color: var(--c-bg-contrast-light);
  overflow: clip;
}
