.page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.album {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--m-xl);
  margin-bottom: calc(var(--m-xl) * 2);
}

.block {
  width: 100%;
  display: grid;
}

.noMargin {
  margin: 0;
}
