.exif {
  font-size: var(--fs-s);
  margin-left: var(--m-l);
}

.exif td {
  padding: 0 var(--m) var(--m) 0;
}

.permalink {
  text-align: right;
  color: var(--c-bg-contrast-light);
  align-self: flex-end;
}

.details {
  grid-column: 1;
  grid-row: 1;
  max-height: 100%;
  overflow: auto;
  max-height: 90vh;
  max-height: 90svh;
  position: sticky;
  right: var(--m-l);
  place-self: start end;
  max-width: calc(100svw - var(--m-l));
  max-width: calc(100vw - var(--m-l));
  scrollbar-gutter: stable;
  background-color: var(--c-overlay);
  background-blend-mode: darken;
  padding: var(--m) var(--m-m);
  z-index: 300;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.details details {
  display: flex;
}

.details summary {
  text-align: right;
  user-select: none;
  cursor: pointer;
  color: var(--c-bg-contrast-light);
}

.block {
  display: grid;
  gap: var(--m-l);
  width: 100%;
  padding: var(--m-l);
}

.imageWrapper {
  grid-column: 1;
  grid-row: 1;
  position: sticky;
  left: var(--m-l);
  place-self: center;
}

.image {
  max-height: 90vh;
  max-height: 90svh;
  max-width: min(90vw, 100%);
  height: auto;
  display: block;
}

.th {
  display: none;
}

.viewOriginal {
  text-align: right;
}

.rawDetails {
  margin-top: var(--m-m);
}

.description {
  max-width: 900px;
  place-self: center;
  white-space: pre-line;
}

.moveButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 40px;
  gap: var(--m-m);
}

.overlayHeader {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.immersive {
  padding: 0;
}

.immersive img {
  object-fit: cover;
  max-width: unset;
  max-height: unset;
  width: 100vw;
  width: 100svw;
  height: 100vh;
  height: 100svh;
  margin: 0 auto;
}

.immersive .overlayHeader {
  grid-row: 1;
  grid-column: 1;
  z-index: 200;

  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.immersive .title {
  margin-top: min(400px, 20svh);
}

.immersive .description {
  margin-bottom: 15vh;
  margin-bottom: 15svh;
  text-shadow: black;
  font-size: var(--fs-l);
  margin-top: auto;
}

.immersive .details {
  margin: var(--m-m) 0 0;
}

.title {
  font-size: var(--fs-xl);
}

.kicker {
  font-size: var(--fs-l);
  white-space: pre-line;
}
