.youtubeIframe {
  max-block-size: 90svh;
  block-size: auto;

  aspect-ratio: 16 / 9;

  max-inline-size: 100svw;
  inline-size: 90%;
}

.block {
  display: grid;
  inline-size: 100%;
}

.youtubeWrapper {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  max-block-size: 90svh;
  block-size: auto;

  max-inline-size: 100svw;

  aspect-ratio: 16 / 9;

  inline-size: auto;
}

.sourceCell {
  max-inline-size: min(50dvw, var(--size-460));
  word-break: break-word;
}
