.youtubeIframe {
  max-height: 90vh;
  height: auto;

  aspect-ratio: 16 / 9;

  max-width: 100vw;
  max-width: 100svw;
  width: 90%;
}

.block {
  display: grid;
  width: 100%;
}

.youtubeWrapper {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 90vh !important;
  max-height: 90svh !important;
  height: auto;

  max-width: 100vw !important;
  max-width: 100svw !important;

  aspect-ratio: 16 / 9;

  width: auto;
}

.details {
  grid-column: 1;
  grid-row: 1;
  max-height: 90vh;
  max-height: 90svh;
  overflow: auto;
  position: sticky;
  right: var(--m-l);
  place-self: start end;
  max-width: calc(100svw - var(--m-m));
  max-width: calc(100vw - var(--m-m));
  scrollbar-gutter: stable;
  z-index: 300;
  margin-top: -40px;
}

.details > details {
  display: block;
  height: 1.4em;
  transition: height 0.2s ease-out;
}

.details > details[open] {
  height: auto;
  overflow: clip;
}

.details summary {
  text-align: right;
  user-select: none;
  cursor: pointer;
  color: var(--c-bg-contrast-light);
}

.detailsContent {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: var(--m-m);
  margin-top: var(--m-s);
  background-color: var(--c-overlay);
  backdrop-filter: blur(8px);
  border-radius: var(--m);
}

.videoDetailsTableWrapper {
  font-size: var(--fs-s);
}

.videoDetailsTableWrapper td {
  padding: 0 var(--m) var(--m) 0;
  vertical-align: baseline;
}

.sourceCell {
  max-width: min(50vw, 460px);
  word-break: break-word;
}

.viewOriginal {
  text-align: right;
}

.rawDetails {
  margin-top: var(--m-m);
}
