.tripBig {
  margin: 0;
  font-size: var(--fs-l);
  font-variant-numeric: tabular-nums;
}

.tripBig span {
  font-size: var(--fs-sm);
  color: var(--c-bg-contrast-light);
}

.tripLead {
  margin: 0;
  font-size: var(--fs-sm);
  color: var(--c-bg-contrast-light);
  overflow-wrap: anywhere;
}
