.moreButton {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: var(--m-m);
  border-style: solid;
  cursor: pointer;
}

.moreButton:disabled {
  cursor: wait;
  opacity: 0.5;
}

.moreButton:not(:disabled):hover {
  background-color: var(--c-bg-contrast-light);
}

.moreButton:not(:disabled):active {
  background-color: var(--c-bg);
}

.results {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--m-m);
  min-height: 24px;
  font-size: var(--fs-sm);
}

.resultLi {
  animation-name: fadein;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

.searchWidget {
  margin-bottom: var(--m-xl);
}

.searchWidget input {
  width: 100%;
  max-width: min(80vw, 420px);
  padding: var(--m-m);
  color: var(--c-contrast);
  background-color: var(--c-bg);
  border: solid 2px var(--c-bg-contrast-light);
  border-radius: var(--m-s);
  transition: 0.08s ease-out opacity;
  font-size: var(--fs-sm);
}

.searchWidget input:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.searchWidget input::placeholder {
  user-select: none;
}

.searchWidget input:focus-visible,
.link:focus-visible,
.moreButton:focus-visible {
  outline: solid 2px var(--c-bg-contrast-light);
}

.searchHint {
  font-style: italic;
  color: var(--c-bg-contrast-light);
}

.searchInputRow {
  display: flex;
  flex-direction: row;
  gap: var(--m-m);
  flex-wrap: wrap;
  margin-bottom: var(--m-l);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--m);
  max-height: 20vh;
  overflow-y: auto;
  margin-bottom: var(--m-l);
}
